@using System.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NWDFoundation.WebEdition.Attributes
@using NWDFoundation.WebEdition.Enums
@using NWDWebHttpErrorSimulator.Controllers
@using NWDWebHttpErrorSimulator.Models
@using NWDWebRuntime.Configuration
@using NWDWebRuntime.Tools
@using NWDWebStandard.Controllers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> you are here ... </h1>