@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dev of NeWeeDy</h1>
    <p>Learn about this projet ... <a href="https://www.net-worked-data.com">building inter-connected Website, Unity Game and MAUI app with www.net-worked-data.com</a>.</p>
</div>

<div class="card mb-3">
    <div class="card-header mb-3 border-bottom background-corner-1">
        <div class="card-title">
            Notions to develop with us!
        </div>
    <p class="fs--1">
        Be compliant with French, European and American legislation!
    </p>
    </div>
<div class="card-body">
<div class="row">
<div class="col-lg-12 mb-3">
</div>
<div class="col-lg-12 mb-3">
</div>
</div>
</div>
<div class="card-footer py-3">
</div>
</div>