@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- TITLE With background -->
<div class="card mb-3">
    <div class="card-body position-relative border-bottom bg-card background-corner-2">
        <div class="row">
            <div class="col-8">
                <h3><span class="fas fa-shield-alt"></span> Net-Worked-Data Development!</h3>
                <p class="mb-0">You are my only hope!</p>
            </div>
        </div>
    </div>
    <div class="card-body position-relative">
        <div class="table-responsive scrollbar">
        <table class="table table-bordered table-striped fs--1 mb-0">
            <thead>
            <tr>
                <th>Naming</th> <th>Syntaxe</th><th>Example</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Namespaces</td>
                <td><span class="text-success">NWD</span><span class="text-warning">UpperCamelCase</span><span class="text-warning">_UnderscoreTolerant</span><span class="text-success">.</span><span class="text-warning">UpperCamelCase</span><span class="text-warning">_UnderscoreTolerant</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Types</td>
                <td><span class="text-success">NWD</span><span class="text-warning">UpperCamelCase</span><span class="text-warning">_UnderscoreTolerant</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Interfaces</td>
                <td><span class="text-success">INWD</span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Types parameters</td>
                <td><span class="text-success">T</span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Methods</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Properties</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Events</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Local variables temporary</td>
                <td><span class="text-success">t</span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Local variables temporary in block</td>
                <td><span class="text-success">b</span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Local variables return</td>
                <td><span class="text-success">r</span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Local Constants</td>
                <td><span class="text-success">C_</span><span class="text-warning">ALL_UPPER</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Parameters</td>
                <td><span class="text-success">s</span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Fields (not private)</td>
                <td><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Instance fields (private)</td>
                <td><span class="text-success">_</span><span class="text-warning">UpperCamelCase</span><span class="text-warning">_UnderscoreTolerant</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Static fields (private)</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Constant fields (not private)</td>
                <td><span class="text-success">K_</span><span class="text-warning">ALL_UPPER</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Constant fields (private)</td>
                <td><span class="text-success">_</span><span class="text-warning">ALL_UPPER</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Static readonly fields (not private)</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Static readonly fields ( private)</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Enum members</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>Local functions</td>
                <td><span class="text-success">local_</span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            <tr>
                <td>All other entities</td>
                <td><span class="text-success"></span><span class="text-warning">UpperCamelCase</span></td>
                <td></td>
            </tr>
            </tbody>
        </table></div>
    </div>
    <div class="card-body position-relative">
        <div class="row">
            <div class="col-3">
                <p></p>
            </div>
            <div class="col-3">
                <p></p>
            </div>
        </div>
    </div>
</div>