@using NWDWebRuntime.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (NWDWebRuntimeConfiguration.KConfig.IsDevelopment == true)
{
    <div class="text-end mb-3">
        <span class="ms-2 badge rounded-pill badge-subtle-success bi-check-circle"> Kortex</span>
        @* <span class="ms-2 badge rounded-pill badge-subtle-danger bi-x-circle"> Kortex</span> *@
    </div>
}

<div class="container p-0 m-0">
    <div class="row g-3">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header bg-light background-corner-1">
                    <div class="card-title">
                        <h1><span class="fas fa-shield-alt"></span> No menu test</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <div class="card">
                <div class="card-header background-corner-3 border-bottom">
                    <div class="row">
                        <div class="col-8">
                            <h3><span class="fas fa-shield-alt"></span> Page with no menu</h3>
                            <p class="mb-0">No menu force by injection of new empty page</p>
                        </div>
                    </div>
                </div>
                <div class="card-body position-relative">
                    It's just to test the hidden menu in page layout. App, Admin, Debug menu must be hidden! No NavBar menu, no SideBar, no FooterNav !
                </div>
            </div>
        </div>
    </div>
</div>