<div class="card-title">
    Parameter @nameof(NWDWebUploader) for your project!
</div>
<div class="card-body m-0">
    This package use @nameof(NWDWebDownloader) and you must be admin to use it!
</div>
<div class="card-body m-0">
Nothing to do to configure this package. This package is an extension of features for @nameof(NWDWebDownloader). See @nameof(NWDWebDownloader) to configure options.</div>