@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using NWDWebEditor.Managers
@using NWDWebRuntime.Configuration
@using NWDWebRuntime.Facades
@using NWDWebRuntime.Managers
@using NWDWebStandard.Controllers
@using NWDWebStandard.Models

@* @inject IViewLocalizer Localizer *@
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    string? tController = ViewContext.RouteData.Values["controller"]?.ToString();
    string? tAction = ViewContext.RouteData.Values["action"]?.ToString();
}

@inject IHttpContextAccessor HttpContextAccessor

    @if (HttpContextAccessor.HttpContext != null && NWDAuthorizeAdminOnly.ValidFor(HttpContextAccessor.HttpContext))
    {
        
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-secondary disabled" href="/"><span class="fas fa-chart-pie"></span> Page Editor</a>
        <a class="dropdown-item" href="/NWDPageEditor/Index/"> Page manager</a>
        @foreach (NWDPage tPage in NWDPageManager.GetPageUseAsMenu())
        {
                <a class="dropdown-item" href="/@nameof(NWDPageController.Show)/@tPage.Reference/@tPage.Title"><span class="@tPage.NavBarIcon me-1"></span> @tPage.GetNavBarMenu()</a>
        }
        <a class="dropdown-item" href="/NWDPageEditor/New"> New page</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-secondary disabled" href="/"><span class="fas fa-chart-pie"></span> FAQ Editor</a>
        <a class="dropdown-item" href="/NWDFrequentlyAskedQuestion/Index/"> FAQ manager</a>
        <a class="dropdown-item" href="/NWDFrequentlyAskedQuestion/NewHere?sController=@tController&tAction=@tAction"> New FAQ here</a>
    }