@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Http
@using NWDWebRuntime.Configuration

@inject IHttpContextAccessor HttpContextAccessor

<!-- Panel Opened -->
<div class="offcanvas offcanvas-end settings-panel border-0 no-selectable" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
    <div class="offcanvas-header bg-primary">
        <div class="z-index-1 py-1 light">
            <div class="d-flex justify-content-between align-items-center mb-1">
                <h5 class="text-white mb-0 me-2">
                    <span class="fas fa-palette me-2 fs-0"></span>
                    Settings
                </h5>
                <!-- Reset button-->
                @* <button class="btn btn-primary btn-sm rounded-pill mt-0 mb-0" data-theme-control="reset" style="font-size:12px"> *@
                @*     <span class="fas fa-redo-alt me-1" data-fa-transform="shrink-3"></span> *@
                @*     Reset *@
                @* </button> *@
            </div>
            <p class="mb-0 fs--1 text-white opacity-75"> Set your own customized style</p>
        </div>
        <!-- Close button-->
        @* <button class="btn-close btn-close-white z-index-1 mt-0" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button> *@
    </div>
    <div class="offcanvas-body scrollbar-overlay px-card" id="themeController">
        <h5 class="fs-0">Color Scheme</h5>
        <p class="fs--1">Choose the perfect color mode for your app.</p>
        <div class="btn-group d-block w-100 btn-group-navbar-style">
            <div class="row gx-2">
                <div class="col-6">
                    <input class="btn-check" id="themeSwitcherLight" name="theme-color" type="radio" value="light" data-theme-control="theme" />
                    <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherLight">
                        <span class="hover-overlay mb-2 rounded d-block">
                            <img class="img-fluid img-prototype mb-0" src="~/customize/light.png" alt="" />
                        </span>
                        <span class="label-text">Light</span>
                    </label>
                </div>
                <div class="col-6">
                    <input class="btn-check" id="themeSwitcherDark" name="theme-color" type="radio" value="dark" data-theme-control="theme" />
                    <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherDark">
                        <span class="hover-overlay mb-2 rounded d-block">
                            <img class="img-fluid img-prototype mb-0" src="~/customize/dark.png" alt="" />
                        </span>
                        <span class="label-text"> Dark</span>
                    </label>
                </div>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-start">
                <img class="me-2" src="~/customize/rtl.svg" width="20" alt="" />
                <div class="flex-1">
                    <h5 class="fs-0">RTL Mode</h5>
                    <p class="fs--1 mb-0">Switch your language direction </p>
                    @*<a class="fs--1" href="documentation/customization/configuration.html">RTL Documentation</a>*@
                </div>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input ms-0" id="mode-rtl" type="checkbox" data-theme-control="isRTL" />
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-start">
                <img class="me-2" src="~/customize/layout.svg" width="20" alt="" />
                <div class="flex-1">
                    <h5 class="fs-0">Fluid Layout</h5>
                    <p class="fs--1 mb-0">Toggle container layout system </p>
                    @*<a class="fs--1" href="documentation/customization/configuration.html">Fluid Documentation</a>*@
                </div>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input ms-0" id="mode-fluid" type="checkbox" data-theme-control="isFluid" />
            </div>
        </div>
        <hr />
        @*
        <div class="d-flex align-items-start">
            <img class="me-2" src="~/customize/paragraph.svg" width="20" alt="" />
            <div class="flex-1">
                <h5 class="fs-0 d-flex align-items-center">Navigation Position </h5>
                <p class="fs--1 mb-2">Select a suitable navigation system for your web application </p>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="option-navbar-vertical" type="radio" name="navbar" value="vertical" data-page-url="modules/components/navs-and-tabs/vertical-navbar.html" data-theme-control="navbarPosition" />
                        <label class="form-check-label" for="option-navbar-vertical">Vertical</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="option-navbar-top" type="radio" name="navbar" value="top" data-page-url="modules/components/navs-and-tabs/top-navbar.html" data-theme-control="navbarPosition" />
                        <label class="form-check-label" for="option-navbar-top">Top</label>
                    </div>
                    <div class="form-check form-check-inline me-0">
                        <input class="form-check-input" id="option-navbar-combo" type="radio" name="navbar" value="combo" data-page-url="modules/components/navs-and-tabs/combo-navbar.html" data-theme-control="navbarPosition" />
                        <label class="form-check-label" for="option-navbar-combo">Combo</label>
                    </div>
                </div>
            </div>
        </div>
        <hr />*@
        <h5 class="fs-0 d-flex align-items-center">Sidebar Style</h5>
        <p class="fs--1 mb-0">Switch between styles for your vertical sidebar </p>
        <div class="btn-group d-block w-100 btn-group-navbar-style">
            <div class="row gx-2">
                <div class="col-6">
                    <input class="btn-check" id="navbar-style-transparent" type="radio" name="navbarStyle" value="transparent" data-theme-control="navbarStyle" />
                    <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-transparent">
                        <img class="img-fluid img-prototype" src="~/customize/default.png" alt="" />
                        <span class="label-text"> Transparent</span>
                    </label>
                </div>
                <div class="col-6">
                    <input class="btn-check" id="navbar-style-inverted" type="radio" name="navbarStyle" value="inverted" data-theme-control="navbarStyle" />
                    <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-inverted">
                        <img class="img-fluid img-prototype" src="~/customize/inverted.png" alt="" />
                        <span class="label-text"> Inverted</span>
                    </label>
                </div>
                <div class="col-6">
                    <input class="btn-check" id="navbar-style-card" type="radio" name="navbarStyle" value="card" data-theme-control="navbarStyle" />
                    <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-card">
                        <img class="img-fluid img-prototype" src="~/customize/card.png" alt="" />
                        <span class="label-text"> Card</span>
                    </label>
                </div>
                <div class="col-6">
                    <input class="btn-check" id="navbar-style-vibrant" type="radio" name="navbarStyle" value="vibrant" data-theme-control="navbarStyle" />
                    <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-vibrant">
                        <img class="img-fluid img-prototype" src="~/customize/colored.png" alt="" />
                        <span class="label-text"> Vibrant</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Button to open panel -->
<div class="card setting-toggle handleForClick no-selectable" href="#settings-offcanvas" data-bs-toggle="offcanvas" >
    <div class="card-body d-flex align-items-center py-md-2 px-2 py-1">
        <div class="bg-soft-primary position-relative rounded-start" style="height:34px;width:28px">
            <div class="settings-popover">
                <span class="ripple">
                    <span class="fa-spin position-absolute all-0 d-flex flex-center">
                        <span class="icon-spin position-absolute all-0 d-flex flex-center">
                            <img src="~/customize/gear.svg" width="20"/>
                        </span>
                    </span>
                </span>
            </div>
        </div>
        <small class="text-uppercase text-primary fw-bold bg-soft-primary py-2 pe-2 ps-1 rounded-end">customize</small>
    </div>
</div>