@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!-- Title absolute background -->
    <div class="col-12">
        <div class="card mb-3">
            <div class="bg-holder d-none d-lg-block bg-card background-corner-2">
            </div>
            <div class="card-body position-relative">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Subscription required</h3>
                        <p class="mb-0">You need to subscribe to services to see these pages or to use these features.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>