// Any variable from node_modules/bootstrap/scss/variables or src/scss/theme/_variables.scss can be overridden with your own value.

$primary: #05464A;
$secondary: #3B959B;
$success: #05464A;
$--falcon-toast-bg: #05464A;
$navbar-vibrant-bg-image: linear-gradient(
                -45deg,
                #3B959B,
                #05464A
);
$navbar-vertical-vibrant-bg-image: linear-gradient(
                -45deg,
                #3B959B,
                #05464A
);

// Any variable from node_modules/bootstrap/scss/variables or src/scss/theme/_variables.scss can be overridden with your own value.
